@import "~normalize.css";


.site-page-header {
    background: #1890ff;
	height: 100px;
    
}

.ant-page-header-heading-title {
    font-style: italic;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    --gutter: 16px;
    width: 1024px;
    max-width: calc(100% - var(--gutter) * 2);
    margin-right: auto;
    margin-left: auto;
    
    
}


.dialogue-app__footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
